AlterianEMAPIClient/Service References/EM/EM1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEMPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMPreference" nillable="true" type="tns:EMPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMPreference" nillable="true" type="tns:ArrayOfEMPreference" />
  <xs:complexType name="EMPreference">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermsAndConditions" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMPreference" nillable="true" type="tns:EMPreference" />
</xs:schema>