AlterianEMAPIClient/Service References/EM/EM3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DMWebServices.Repository.DefaultFaults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMWebServices.Repository.DefaultFaults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArgumentOutOfRangeFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParamValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentOutOfRangeFault" nillable="true" type="tns:ArgumentOutOfRangeFault" />
  <xs:complexType name="InstanceNotFoundFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="InstanceNotFoundFault" nillable="true" type="tns:InstanceNotFoundFault" />
</xs:schema>