AlterianEMAPIClient/Service References/EM/EM4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sdl.MediaManager.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sdl.MediaManager.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:simpleType name="ItemTypes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Account">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Client">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Folder">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Tag">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Distribution">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Program">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Asset">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Outlet">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AssetType">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ProgramStatus">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OutletType">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OutletMediaType">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2048</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OrganizationalItems">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ContentItems">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">112</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="All">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4095</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ItemTypes" nillable="true" type="tns:ItemTypes" />
  <xs:complexType name="DistributionData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemWithAssetContentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DirectLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmbeddedHtml" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GlobalId" type="ser:guid" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsLive" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OutletId" type="xs:long" />
          <xs:element minOccurs="0" name="OutletType" type="tns:OutletClassifier" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProgramIds" nillable="true" type="q1:ArrayOflong" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DistributionData" nillable="true" type="tns:DistributionData" />
  <xs:complexType name="ItemWithAssetContentData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdatableItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetEncodingCompleted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContentModifiedOn" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemWithAssetContentData" nillable="true" type="tns:ItemWithAssetContentData" />
  <xs:complexType name="UpdatableItemData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="tns:UserInfoData" />
          <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FolderId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="tns:UserInfoData" />
          <xs:element minOccurs="0" name="ModifiedOn" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdatableItemData" nillable="true" type="tns:UpdatableItemData" />
  <xs:complexType name="ItemData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ItemType" type="tns:ItemTypes" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemData" nillable="true" type="tns:ItemData" />
  <xs:complexType name="OutletMediaTypeData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutletMediaTypeData" nillable="true" type="tns:OutletMediaTypeData" />
  <xs:complexType name="UserInfoData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfoData" nillable="true" type="tns:UserInfoData" />
  <xs:complexType name="AssetData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemWithAssetContentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="tns:AssetTypeData" />
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AvailableFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AvailableTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Copyright" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAvailableForDownload" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAvailableForWebPublishing" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPubliclyAvailable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRoyaltyFree" type="xs:boolean" />
          <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxPrograms" type="xs:int" />
          <xs:element minOccurs="0" name="People" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreviewUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChannelInfos" nillable="true" type="tns:ArrayOfChannelInfo">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTagData">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetData" nillable="true" type="tns:AssetData" />
  <xs:complexType name="AssetTypeData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetTypeData" nillable="true" type="tns:AssetTypeData" />
  <xs:complexType name="ProgramData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemWithAssetContentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssetIds" nillable="true" type="q2:ArrayOflong" />
          <xs:element minOccurs="0" name="AvailableFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AvailableTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ClientId" type="xs:long" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsIncludedInGalleries" type="xs:boolean" />
          <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaximumViews" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ProgramStatus" nillable="true" type="tns:ProgramStatusData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramData" nillable="true" type="tns:ProgramData" />
  <xs:complexType name="ProgramStatusData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Available" type="xs:boolean" />
          <xs:element minOccurs="0" name="Private" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramStatusData" nillable="true" type="tns:ProgramStatusData" />
  <xs:complexType name="OutletData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdatableItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GlobalId" type="ser:guid" />
          <xs:element minOccurs="0" name="OutletType" nillable="true" type="tns:OutletTypeData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutletData" nillable="true" type="tns:OutletData" />
  <xs:complexType name="OutletTypeData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutletFolder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutletMediaType" nillable="true" type="tns:OutletMediaTypeData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutletTypeData" nillable="true" type="tns:OutletTypeData" />
  <xs:complexType name="ClientData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdatableItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientData" nillable="true" type="tns:ClientData" />
  <xs:complexType name="FolderData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdatableItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:long" />
          <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FolderData" nillable="true" type="tns:FolderData" />
  <xs:complexType name="AccountData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdatableItemData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountData" nillable="true" type="tns:AccountData" />
  <xs:complexType name="TagData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TagData" nillable="true" type="tns:TagData" />
  <xs:complexType name="ArrayOfChannelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelInfo" nillable="true" type="tns:ChannelInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelInfo" nillable="true" type="tns:ArrayOfChannelInfo" />
  <xs:complexType name="ChannelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:long" />
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelInfo" nillable="true" type="tns:ChannelInfo" />
  <xs:complexType name="YouTubeChannelInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChannelInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="PrivacySettings" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="tns:YouTubeItemStatus" />
          <xs:element minOccurs="0" name="YouTubeVideoId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="YouTubeChannelInfo" nillable="true" type="tns:YouTubeChannelInfo" />
  <xs:simpleType name="YouTubeItemStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotStarted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Uploading">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Encoding">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Done">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejected">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Aborted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Update">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Updating">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Retry">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Resume">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorUploading">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorUpdating">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Removed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="YouTubeItemStatus" nillable="true" type="tns:YouTubeItemStatus" />
  <xs:complexType name="ArrayOfTagData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagData" nillable="true" type="tns:TagData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagData" nillable="true" type="tns:ArrayOfTagData" />
  <xs:simpleType name="OutletClassifier">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Flash">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Gallery">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Download">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Html5">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Image">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Mobile">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Audio">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Scala">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="YouTube">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="OutletClassifier" nillable="true" type="tns:OutletClassifier" />
</xs:schema>