AlterianEMAPIClient/Service References/EM/EM5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DMWebServices" elementFormDefault="qualified" targetNamespace="DMWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DMLibrary" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sdl.MediaManager.DataTransferObjects" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DMLibrary.MediaManager" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" />
  <xs:import schemaLocation="http://apac-uat.e.alterian.net/EM.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/DMWebServices.Dtos" />
  <xs:element name="GetListFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetListFoldersResult" nillable="true" type="q1:ArrayOfDMListCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategoriesEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="CategoryIDs" nillable="true" type="q2:IntCollection" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="PermissionIDs" nillable="true" type="q3:ArrayOfDMListPermission" />
        <xs:element minOccurs="0" name="GetLists" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategoriesExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetListCategoriesExResult" nillable="true" type="q4:ArrayOfDMListCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ListTypes" nillable="true" type="q5:ArrayOfDMListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetListsResult" nillable="true" type="q6:ArrayOfDMList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ListTypes" nillable="true" type="q7:ArrayOfDMListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetListsByNameResult" nillable="true" type="q8:ArrayOfEMList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ListTypes" nillable="true" type="q9:ArrayOfDMListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetDefaultListsResult" nillable="true" type="q10:ArrayOfEMList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ListID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetListFieldsResult" nillable="true" type="q11:DMListFieldCollection" />
        <xs:element minOccurs="0" name="PrimaryKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshSmartListsInParallel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListIDs" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshSmartListsInParallelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="RefreshSmartListsInParallelResult" nillable="true" type="q13:ArrayOfEMSmartListRefreshResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentFolderID" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFolderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFolderName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FolderID" type="xs:int" />
        <xs:element minOccurs="0" name="NewName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFolderNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FolderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryContexts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryContextsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetDeliveryContextsResult" nillable="true" type="q14:ArrayOfDMDeliveryContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryContextAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DeliveryContextAssociationType" type="q15:DMDeliveryContextAssociationType" />
        <xs:element minOccurs="0" name="FolderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryContextAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveryContextAssociationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDeliveryContextAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FolderID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DeliveryContextAssociationType" type="q16:DMDeliveryContextAssociationType" />
        <xs:element minOccurs="0" name="DeliveryContextID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDeliveryContextAssociationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmailTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmailTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="CreateEmailTestResult" nillable="true" type="q17:EMEmailTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestEmailTestResultsForCreative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreativeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestEmailTestResultsForCreativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetLatestEmailTestResultsForCreativeResult" nillable="true" type="q18:ArrayOfEMEmailTestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailTestResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResultIDs" nillable="true" type="q19:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailTestResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetEmailTestResultsResult" nillable="true" type="q20:ArrayOfEMEmailTestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeatMapData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="CreativeID" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ContentType" type="q21:EMContentType" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeploymentIDs" nillable="true" type="q22:ArrayOfstring" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DateRange" nillable="true" type="q23:DMRDateRange" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EventIDs" nillable="true" type="q24:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeatMapDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetHeatMapDataResult" nillable="true" type="q25:DMReportGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignEventsLegacy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignEventsLegacyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignEventsLegacyResult" nillable="true" type="q26:ArrayOfDMEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeployments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="FolderID" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DateRange" nillable="true" type="q27:DMRDateRange" />
        <xs:element minOccurs="0" name="Scheduled" type="xs:boolean" />
        <xs:element minOccurs="0" name="Active" type="xs:boolean" />
        <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
        <xs:element minOccurs="0" name="ExcludeOneOffs" type="xs:boolean" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="Fields" nillable="true" type="q28:DMDeploymentFieldCollection" />
        <xs:element minOccurs="0" name="SearchByScheduledDate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeploymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetDeploymentsResult" nillable="true" type="q29:ArrayOfDMDeployment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreativeID" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="Type" type="q30:EMContentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaManagerItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MMLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MMCertThumbprint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MMUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemID" type="xs:long" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Sdl.MediaManager.DataTransferObjects" minOccurs="0" name="ItemTypes" type="q31:ItemTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaManagerItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DMLibrary.MediaManager" minOccurs="0" name="GetMediaManagerItemsResult" nillable="true" type="q32:ArrayOfMediaManagerItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaManagerDistributionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MMLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MMCertThumbprint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MMUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DistributionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaManagerDistributionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Sdl.MediaManager.DataTransferObjects" minOccurs="0" name="GetMediaManagerDistributionDetailsResult" nillable="true" type="q33:DistributionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignFileWithStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/Message" name="FileData" type="q34:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignFileWithStreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupTableExcelUploadEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/Message" name="FileData" type="q35:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupTableExcelUploadExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LookupTableExcelUploadExResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupTableUploadEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/Message" name="FileData" type="q36:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupTableUploadExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="LookupTableUploadExResult" nillable="true" type="q37:DMImportStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslationResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TranslationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslationResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetTranslationResourcesResult" nillable="true" type="q38:ArrayOfEMTranslationResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTranslations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTranslationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetAvailableTranslationsResult" nillable="true" type="q39:ArrayOfDMTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GeneratePdfResult" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRequestStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetFileRequestStatusResult" type="q41:EMFeederStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHtmlForProcessing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHtmlForProcessingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveHtmlForProcessingResult" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreativeDocumentID" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ContentType" type="q43:EMContentType" />
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/Message" name="DownloadContentResult" type="q44:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaManagerVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Distribution" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaManagerVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/Message" name="MediaManagerVideoResult" type="q45:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequestIp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/Message" name="RenderPageResult" type="q46:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneratedPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneratedPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/Message" name="GetGeneratedPdfResult" type="q47:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToCSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToCSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/Message" name="ExportToCSVResult" type="q48:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/Message" name="DownloadFileResult" type="q49:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadAttachmentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServerFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadAttachmentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/Message" name="DownloadAttachmentFileResult" type="q50:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterDMCreatives">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="creativeFilter" nillable="true" type="q51:DMCreativeFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterDMCreativesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="FilterDMCreativesResult" nillable="true" type="q52:DMCreativeCollectionByFilterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableDomainFiltering">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableDomainFilteringResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableDomainFiltering">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableDomainFilteringResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainFilteringStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainFilteringStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDomainFilteringStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomainsToRedirectWhitelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListOfDomains" nillable="true" type="q53:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomainsToRedirectWhitelistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AddDomainsToRedirectWhitelistResult" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomainsFromRedirectWhitelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListOfDomains" nillable="true" type="q55:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomainsFromRedirectWhitelistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeleteDomainsFromRedirectWhitelistResult" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainsOnRedirectWhitelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainsOnRedirectWhitelistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDomainsOnRedirectWhitelistResult" nillable="true" type="q57:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPreferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" minOccurs="0" name="GetAllPreferencesResult" nillable="true" type="q58:ArrayOfEMPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreativePreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creativeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreativePreferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" minOccurs="0" name="GetCreativePreferencesResult" nillable="true" type="q59:ArrayOfEMPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" minOccurs="0" name="preference" nillable="true" type="q60:EMPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" minOccurs="0" name="CreatePreferenceResult" nillable="true" type="q61:EMPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" minOccurs="0" name="preference" nillable="true" type="q62:EMPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPreferenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignablePreferencesForCreative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creativeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignablePreferencesForCreativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" minOccurs="0" name="GetAssignablePreferencesForCreativeResult" nillable="true" type="q63:ArrayOfEMPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPreferencesToCreative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creativeId" type="xs:int" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="preferenceIds" nillable="true" type="q64:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPreferencesToCreativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/DMLibrary.EMPreferences" minOccurs="0" name="AssignPreferencesToCreativeResult" nillable="true" type="q65:ArrayOfEMPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePreferencesFromCreative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creativeId" type="xs:int" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="preferenceIds" nillable="true" type="q66:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePreferencesFromCreativeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMessagePreview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deploymentId" type="xs:int" />
        <xs:element minOccurs="0" name="recordNumber" type="xs:int" />
        <xs:element minOccurs="0" name="showSetup" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMessagePreviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateMessagePreviewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetClientInfoResult" nillable="true" type="q67:EMClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCurrentUserInfoResult" nillable="true" type="q68:DMUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetModulesResult" nillable="true" type="q69:DMModuleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetModuleCategoriesResult" nillable="true" type="q70:EMModuleCategoryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetDocumentTypesResult" nillable="true" type="q71:ArrayOfEMDocumentTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MaxDocumentsReturned" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetRecentDocumentsResult" nillable="true" type="q72:ArrayOfEMDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FolderID" type="xs:int" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DocumentTypes" nillable="true" type="q73:ArrayOfEMDocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetFolderContentsResult" nillable="true" type="q74:ArrayOfEMDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetDocumentsByNameResult" nillable="true" type="q75:ArrayOfEMDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignResult" nillable="true" type="q76:EMCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniqueNameForNewDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocumentNamePrefix" nillable="true" type="xs:string" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DocumentType" type="q77:EMDocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniqueNameForNewDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUniqueNameForNewDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableEncodings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableEncodingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetAvailableEncodingsResult" nillable="true" type="q78:ArrayOfDMEncodingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHTMLTemplateIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetFoldersResult" nillable="true" type="q79:ArrayOfEMFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoldersLazy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FolderId" type="xs:int" />
        <xs:element minOccurs="0" name="IncludeFolderHierarchy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoldersLazyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetFoldersLazyResult" nillable="true" type="q80:EMFoldersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDocumentViewActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDocumentViewActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogDocumentViewActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreativeID" type="xs:int" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ContentType" type="q81:EMContentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateContentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateContentWithAlternateEncoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreativeID" type="xs:int" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ContentType" type="q82:EMContentType" />
        <xs:element minOccurs="0" name="Encoding" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateContentWithAlternateEncodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateContentWithAlternateEncodingResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Warning" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateContentForUseInDifferentCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SourceCreativeID" type="xs:int" />
        <xs:element minOccurs="0" name="DestinationCampaignID" type="xs:int" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ContentType" type="q83:EMContentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateContentForUseInDifferentCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateContentForUseInDifferentCampaignResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignCreative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreativeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DocumentType" type="q84:EMDocumentType" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="InsertUnsubText" type="xs:boolean" />
        <xs:element minOccurs="0" name="InsertMsgOpenAndAttachments" type="xs:boolean" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="HTMLContent" nillable="true" type="q85:EMContent" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="TextContent" nillable="true" type="q86:EMContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignCreativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCampaignCreativeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="NewFolderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FolderID" type="xs:int" />
        <xs:element minOccurs="0" name="IncludeDefaultEmailCreative" type="xs:boolean" />
        <xs:element minOccurs="0" name="IncludeDefaultWebpageCreative" type="xs:boolean" />
        <xs:element minOccurs="0" name="EmailCreativeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WebpageCreativeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCampaignResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Notify" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCampaignEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCampaignEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Notify" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCampaignEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEventUrls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Urls" nillable="true" type="q87:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEventUrlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoveEventUrlsResult" nillable="true" type="q88:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteCreative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreativeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteCreativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanDeleteCreativeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignLookupTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignLookupTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignLookupTablesResult" nillable="true" type="q89:ArrayOfEMLookupTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSharedLookupTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSharedLookupTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetAllSharedLookupTablesResult" nillable="true" type="q90:ArrayOfEMLookupTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
        <xs:element minOccurs="0" name="Skip" type="xs:int" />
        <xs:element minOccurs="0" name="Take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetLookupTableRecordsResult" nillable="true" type="q91:ArrayOfDMLookupRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LookupTableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetLookupTableByIDResult" nillable="true" type="q92:EMLookupTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LookupTableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetLookupTableColumnsResult" nillable="true" type="q93:ArrayOfDMLookupColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginNewLookupTableSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginNewLookupTableSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginNewLookupTableSaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginEditLookupTableSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginEditLookupTableSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginEditLookupTableSaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableColumnAddition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="Columns" nillable="true" type="q94:ArrayOfDMLookupColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableColumnAdditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueLookupTableColumnAdditionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableRecordAddition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="LookupRecords" nillable="true" type="q95:ArrayOfDMLookupRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableRecordAdditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueLookupTableRecordAdditionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableClearance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableClearanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueLookupTableClearanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableColumnDeletion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ColumnIDs" nillable="true" type="q96:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableColumnDeletionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueLookupTableColumnDeletionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableRecordDeletion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keys" nillable="true" type="q97:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableRecordDeletionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueLookupTableRecordDeletionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableMetadataUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableMetadataUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueLookupTableMetadataUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableColumnUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="Columns" nillable="true" type="q98:ArrayOfDMLookupColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLookupTableColumnUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueLookupTableColumnUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLookupTableSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLookupTableSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommitLookupTableSaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLookupTableSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLookupTableSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableExcelSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupTableExcelSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetLookupTableExcelSampleResult" nillable="true" type="q99:ExcelSpreadsheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLookupTableExcelUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element minOccurs="0" name="SpreadSheetID" type="xs:int" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ColumnNames" nillable="true" type="q100:ArrayOfEMLookupTableUploadMapping" />
        <xs:element minOccurs="0" name="HasHeaderRow" type="xs:boolean" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLookupTableExcelUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="CommitLookupTableExcelUploadResult" nillable="true" type="q101:DMImportStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLookupTableExcelUploadEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaveContextID" type="xs:int" />
        <xs:element minOccurs="0" name="SpreadSheetID" type="xs:int" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ColumnNames" nillable="true" type="q102:ArrayOfEMLookupTableUploadMapping" />
        <xs:element minOccurs="0" name="HasHeaderRow" type="xs:boolean" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClearExistingData" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLookupTableExcelUploadExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="CommitLookupTableExcelUploadExResult" nillable="true" type="q103:DMImportStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLookupTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLookupTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignLookupTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignLookupTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CanSaveCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanSaveCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanSaveCampaignResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginCampaignSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginCampaignSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginCampaignSaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitCampaignSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignSaveID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitCampaignSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="CommitCampaignSaveResult" nillable="true" type="q104:EMCampaignSaveManifest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignMetatadataUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignSaveID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaignName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignMetatadataUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueCampaignMetatadataUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeCreation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignSaveID" type="xs:int" />
        <xs:element minOccurs="0" name="CreativeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DocumentType" type="q105:EMDocumentType" />
        <xs:element minOccurs="0" name="InsertUnsubText" type="xs:boolean" />
        <xs:element minOccurs="0" name="InsertMsgOpenAndAttachments" type="xs:boolean" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="HTMLContent" nillable="true" type="q106:EMContent" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="TextContent" nillable="true" type="q107:EMContent" />
        <xs:element minOccurs="0" name="UseSameEncoding" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeCreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueCampaignCreativeCreationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeMetadataUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignSaveID" type="xs:int" />
        <xs:element minOccurs="0" name="EMCreativeID" type="xs:int" />
        <xs:element minOccurs="0" name="CreativeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HtmlEncoding" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UseSameEncoding" type="xs:boolean" />
        <xs:element minOccurs="0" name="TextEncoding" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeMetadataUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueCampaignCreativeMetadataUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeContentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignSaveID" type="xs:int" />
        <xs:element minOccurs="0" name="EMCreativeID" type="xs:int" />
        <xs:element minOccurs="0" name="InsertUnsubText" type="xs:boolean" />
        <xs:element minOccurs="0" name="InsertMsgOpenAndAttachments" type="xs:boolean" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="Content" nillable="true" type="q108:EMContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeContentUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueCampaignCreativeContentUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeDeletion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignSaveID" type="xs:int" />
        <xs:element minOccurs="0" name="EMCreativeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueCampaignCreativeDeletionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueCampaignCreativeDeletionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SourceCampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="NewCampaignName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewFolderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="CopyCampaignResult" nillable="true" type="q109:EMCampaignCopyManifest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Stuff" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="TotalRecordsPerPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetSharedVariablesResult" nillable="true" type="q110:ArrayOfEMVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignsForSharedVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VariableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignsForSharedVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignsForSharedVariableResult" nillable="true" type="q111:ArrayOfEMDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="VariableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignVariableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCampaignVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="VariableID" type="xs:int" />
        <xs:element minOccurs="0" name="RowOrder" type="xs:int" />
        <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParseName" nillable="true" type="xs:string" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="VariableType" type="q112:DMVariableType" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DefaultValue" nillable="true" type="q113:DMVariableValue" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
        <xs:element minOccurs="0" name="LookupResult" type="xs:int" />
        <xs:element minOccurs="0" name="LookupCombo" type="xs:int" />
        <xs:element minOccurs="0" name="ForceMap" type="xs:boolean" />
        <xs:element minOccurs="0" name="DefaultField" type="xs:int" />
        <xs:element minOccurs="0" name="Required" type="xs:boolean" />
        <xs:element minOccurs="0" name="Hidden" type="xs:boolean" />
        <xs:element minOccurs="0" name="Readonly" type="xs:boolean" />
        <xs:element minOccurs="0" name="Shared" type="xs:boolean" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SampleValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UseDefaultForSample" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCampaignVariableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="RowOrder" type="xs:int" />
        <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParseName" nillable="true" type="xs:string" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="VariableType" type="q114:DMVariableType" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="DefaultValue" nillable="true" type="q115:DMVariableValue" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
        <xs:element minOccurs="0" name="LookupResult" type="xs:int" />
        <xs:element minOccurs="0" name="LookupCombo" type="xs:int" />
        <xs:element minOccurs="0" name="ForceMap" type="xs:boolean" />
        <xs:element minOccurs="0" name="DefaultField" type="xs:int" />
        <xs:element minOccurs="0" name="Required" type="xs:boolean" />
        <xs:element minOccurs="0" name="Hidden" type="xs:boolean" />
        <xs:element minOccurs="0" name="Readonly" type="xs:boolean" />
        <xs:element minOccurs="0" name="Shared" type="xs:boolean" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SampleValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UseDefaultForSample" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCampaignVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCampaignVariableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignVariablesResult" nillable="true" type="q116:ArrayOfEMVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="VariableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportVariableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParsedVariablesAndEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="Contents" nillable="true" type="q117:ArrayOfParsableContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParsedVariablesAndEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="GetParsedVariablesAndEventsResult" nillable="true" type="q118:MappedParsedItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceContentWithVariablesAndEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="MappedParsedItem" nillable="true" type="q119:MappedParsedItem" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="Contents" nillable="true" type="q120:ArrayOfParsableContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceContentWithVariablesAndEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="ReplaceContentWithVariablesAndEventsResult" nillable="true" type="q121:ArrayOfParsableContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCreateCampaignVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="MappedVariables" nillable="true" type="q122:ArrayOfMappedEMVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCreateCampaignVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="AutoCreateCampaignVariablesResult" nillable="true" type="q123:ArrayOfEMVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignEventsResult" nillable="true" type="q124:ArrayOfEMEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignUserDefinedEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignUserDefinedEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignUserDefinedEventsResult" nillable="true" type="q125:ArrayOfEMEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetSharedEventsResult" nillable="true" type="q126:ArrayOfEMEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetEventDetailsResult" nillable="true" type="q127:EMEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCreateCampaignEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="MappedEvents" nillable="true" type="q128:ArrayOfMappedEMEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCreateCampaignEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/DMLibrary.Parser" minOccurs="0" name="AutoCreateCampaignEventsResult" nillable="true" type="q129:ArrayOfMappedEMEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetailsTruncated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventID" type="xs:int" />
        <xs:element minOccurs="0" name="maxUsedByUrlsToReturn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetailsTruncatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/DMWebServices.Dtos" minOccurs="0" name="GetEventDetailsTruncatedResult" nillable="true" type="q130:EMEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetCampaignFilesResult" nillable="true" type="q131:ArrayOfEMFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCampaignFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFilesFromCreative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromCreativeID" type="xs:int" />
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="FromCreativeContentType" type="q132:EMContentType" />
        <xs:element minOccurs="0" name="FromCampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="ToCampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFilesFromCreativeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContentFromUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
        <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ImportImages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContentFromUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="ImportContentFromUrlResult" nillable="true" type="q133:EMDownloadedWebsiteContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetClientSettingsResult" nillable="true" type="q134:DMClientSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetSupportInfoResult" nillable="true" type="q135:EMSupportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMWebAppSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMWebAppSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetEMWebAppSettingsResult" nillable="true" type="q136:EMWebAppSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompatibleFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="VariableType" type="q137:DMVariableType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompatibleFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetAllCompatibleFieldsResult" nillable="true" type="q138:ArrayOfEMCompatibleField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompatibleFieldsForVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="VariableTypes" nillable="true" type="q139:ArrayOfDMVariableType" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListIDs" nillable="true" type="q140:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompatibleFieldsForVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/DMLibrary" minOccurs="0" name="GetAllCompatibleFieldsForVariablesResult" nillable="true" type="q141:ArrayOfEMVariableCompatibleFieldMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>